.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 130px;
}
.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 20px;
  padding: 0px 20px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-card {
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.res-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 40px;
  width: 250px;
  height: 400px;
  background-color: #f0f0f0;
}
